h1 {
    color: #0e3a69;
    margin-bottom: 1rem;
}
h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
a {
    text-decoration: none;
}


.items-wrapper, .list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.categories-wrapper {
    margin: 0 20px;
}

.it {
    min-height: 120px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
}

.it:hover{
    background-color: #0e3a6988;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.category > a{
    display: flex;
    width: 160px;
    height: 40px;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-self: center;

}

.category > a:hover{
    background-color: #0e3a6988;
}


.icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}

.project-title {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 20px;
    margin-bottom: 25px;

    .title-info {
        display: flex; 
        flex-wrap: nowrap; 
        gap: 15px;
    }
    .sameas {
        a {
            font-size: 13px;
        }
        h4 {
            margin-bottom: 0.1rem;
        }
    }
}

.project-info {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 25px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.project-image {
    width: 90%;
    height: 200px;
    background-color: #ccc;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 25px;
}

.project-description{
    margin: 25px 20px;
    margin-bottom: 25px;
}

.project-detail {
    border-radius: 20px;
    border: 1px solid #ccc;
}

.tab-bar {
    overflow: hidden;
}

.tab-bar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
}

.tab-bar button.active {
    border-bottom: 3px solid #4a8fd9;
}

.tab-content {
    display: none;

    div {
        margin: 30px;
    }
    p {
        margin: 0;
    }
}

.tab-content.active {
    display: block;
}

@media (max-width: 768px) {
    .items-wrapper, .list-wrapper {
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: row;
    }
    .it {
        width: 100%;
    }
    .project-title {
        display: flex; 
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }
    }
}