{% extends "base.html" %}

{% set subcat_query = " prefix skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?resource_subcat {
  ?resource_subcat a skos:Concept ;
       rdfs:label ?title .
  ?resource_subcat skos:broader ?resourceIri .
}
" %}
{% set cat_item_query = " prefix sioc: <http://rdfs.org/sioc/ns#>
SELECT ?resource_item {
  ?resource_item a sioc:Item ;
       rdfs:label ?title .
  ?resource_item doap:category ?resourceIri .
}
" %}

{% block content %}
    <h1>Catagory: {{ resource["rdfs:label"] | first }}</h1>

    {% set description =
        resource["doap:description"] | first
        or resource["dcterms:description"] | first
    %}

    <p>{{ description }}</p>

    <h2>Subcategories</h2>
    <ul>
        {% for sub_cat in resource | query(subcat_query) %}
        {% set title = sub_cat.resource_subcat | property("rdfs:label") %}
        <li><a href="{{ sub_cat.resource_subcat | iri_resolver }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
    
    <h2>Project</h2>
    <ul>
        {% for item in resource | query(cat_item_query) %}
        {% set title = item.resource_item | property("rdfs:label") %}
        <li><a href="{{ item.resource_item | iri_resolver }}">
          {{ title }} ({{ item.resource_item }})
        </a></li>
        {% endfor %}
    </ul>
{% endblock %}



