{% extends "base.html" %}

{% set category_query = " prefix skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?resource_iri {
  ?resource_iri a skos:Concept ;
       rdfs:label ?title .
  OPTIONAL { ?resource_iri dcterms:description ?description }
  FILTER NOT EXISTS { ?resource_iri skos:broader ?parent }
}
" %}

{% block htmltitle %}
    <title>Demopage</title>
{% endblock %}

{% block content %}

    {{ page.content }}

    <h2>Categories</h2>
    <ul>

        {% for cat in resource | query(category_query) %}
        {% set title = cat.resource_iri | property("rdfs:label") %}

        <li>
            <a href="{{ cat.resource_iri | iri_resolver  }}">
            {{ title }} ({{ cat.resource_iri }})
            </a>
        </li>
        {% endfor %}

    </ul>

{% endblock %}
