{% extends "base.html" %}

{% set category_query = " prefix skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?resource_cat {
  ?resource_cat a skos:Concept ;
       rdfs:label ?title .
  FILTER NOT EXISTS { ?resource_cat skos:broader ?parent }
}
" %}

{% block content %}

    {{ page.content }}

    <h2>Categories</h2>
    <ul>

        {% for cat in resource | query(category_query) %}
        {% set title = cat.resource_cat | property("rdfs:label") %}

        <li><a href="{{ cat.resource_cat | iri_resolver  }}">
            {{ title }}
        </a></li>
        {% endfor %}

    </ul>

{% endblock %}
