{% extends "base.html" %}

{% set cat_item_query = " prefix sioc: <http://rdfs.org/sioc/ns#>
SELECT ?resource_item {
  ?resource_item a sioc:Item ;
       rdfs:label ?title .
  ?resource_item doap:category ?resourceIri .
}
" %}

{% block content %}
    <h1>SubCatagory: {{ resource["rdfs:label"] | first }}</h1>

    {% set description =
        resource["doap:description"] | first
        or resource["dcterms:description"] | first
    %}

    <p>{{ description }}</p>

    <h2>Project</h2>
    <ul>
        {% for item in resource | query(cat_item_query) %}
        {% set title = item.resource_item | property("rdfs:label") %}
        <li><a href="{{ item.resource_item | iri_resolver }}">
            {{ title }} ({{ item.resource_item }})
        </a></li>
        {% endfor %}
    </ul>

{% endblock %}



