{% extends "base.html" %}

{% set project_query = " prefix sioc: <http://rdfs.org/sioc/ns#>
SELECT ?project_iri {
  ?project_iri a sioc:Item ;
       rdfs:label ?title .
  ?project_iri doap:category ?resourceIri .
}
" %}

{% block content %}
    <div class="content-wrapper">
        <h1>SubCatagory: {{ resource["rdfs:label"] | first }}</h1>

        {% set description =
            resource["doap:description"] | first
            or resource["dcterms:description"] | first
        %}

        <p class="description">{{ description }}</p>

        {% set items = resource | query(project_query) %}

        {% if items %}
            <h2>Project</h2>

            <div class="list-wrapper">
                {% for item in items %}
                    {% set title = item.project_iri | property("rdfs:label") %}
                    <a class="it" href="{{ item.project_iri | iri_resolver }}">
                        {{ title }}
                    </a>

                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}



