{% extends "base.html" %}

{% set category_query = " prefix skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?category_iri {
  ?category_iri a skos:Concept ;
       rdfs:label ?title .
  FILTER NOT EXISTS { ?category_iri skos:broader ?parent }
  FILTER EXISTS { ?project doap:category ?category_iri }
}
" %}

{% set logos = ["🛸","🚀","🛰️","🪂","⛵","🎡","🌍","🏓","🎮","🎨","🎩","🪘","📚","📦","📊","🐆","🐀","🦔","🦥"] %}

{% block content %}

    {{ page.content }}

    {% for cat in resource | query(category_query) %}
        {% set title = cat.category_iri | property("rdfs:label") %}

        <div class="category my-5">
            <h3 class="my-3">{{ title }}</h3>

            {% set cat_item_query = "
            prefix sioc: <http://rdfs.org/sioc/ns#>
            prefix dcterms: <http://purl.org/dc/terms/>
            prefix siodc: <https://siodc.example.org/#>

            SELECT DISTINCT ?item_iri ?title ?description ?num_stars ?num_watchers {
            ?item_iri a sioc:Item ;
                            rdfs:label ?title ;
                            doap:category ?cat .

            optional { ?item_iri dcterms:description ?description . }
            optional { ?item_iri dcterms:date ?date . }
            optional {
                ?item_iri siodc:num_stars ?num_stars ;
                          siodc:num_watchers ?num_watchers .
            }

            ?cat (skos:broader)* <" ~ cat.category_iri ~ "> .
            }
            ORDER BY DESC(?date)
            LIMIT 6
            " %}

            <div class="items-wrapper">
                {% for item in resource | query(cat_item_query) %}
                    {% set description = item.description or "" %}
                    {% if item.num_stars and item.num_watchers %}
                    {% set stars = item.num_stars | int %}
                    {% set watchers = item.num_watchers | int %}
                    {% if stars > 1000 %}
                        {% set stars = stars / 1000 %}
                        {% set stars = stars | round(0, 'floor') | int ~ "k" %}
                    {% endif %}
                    {% if watchers > 1000 %}
                        {% set watchers = watchers / 1000 %}
                        {% set watchers = watchers | round(0, 'floor') | int ~ "k" %}
                    {% endif %}
                    {% endif %}
                    <a href="{{ item.item_iri | iri_resolver }}">
                        <div class="bg-white card mb-3" >
                            <div class="row g-0" style="max-width: 540px;">
                                <div class="col-md-4 icon-wrapper" style="font-size: 70px">
                                    {{ logos | random }}
                                </div>
                                <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <p class="card-text"><small class="text-body-secondary">{{ description | truncate(30) }}</small></p>
                                    {% if item.num_stars and item.num_watchers %}
                                    <p class="card-text"><small class="text-body-secondary">⭐ {{ stars }} | 👀 {{ watchers }}</small></p>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>

                {% endfor %}
            </div>
            <a class="bg-secondary-subtle" href="{{ cat.category_iri | iri_resolver }}">
                Show more
            </a>
        </div>

    {% endfor %}

{% endblock %}
