{% extends "base.html" %}

{% block htmltitle %}
<title>ArchivedWebPage: {{ resource_iri }}</title>
{% endblock %}

{% block content %}
{% set snapshot_date = resource["dc:date"] | first %}
{% set website = resource["dcterms:isPartOf"] | first %}
{% set website_title = website["dc:title"] | first %}
{% set pageResource = resource["foaf:primaryTopic"] | first %}
{% set pageUrl = pageResource.identifier %}
{% set snapshot_date_parsed = snapshot_date | datetime_parse() %}
<h1>Snapshot</h1>

<pre>lv:ArchivedWebPage</pre>
<pre>{{ page.meta.resource_iri }}</pre>


<dl>
  <dt>dc:identifier</dt>
  <dd>{{ resource["dc:identifier"] | first }}</dd>
  <dt>dc:date</dt>
  <dd>{{ snapshot_date }}</dd>
  <dt>dcterms:isPartOf (Website)</dt>
  <dd><a href="{{ website | iri_resolver }}">{{ website_title }}</a></dd>
  <dt>foaf:primaryTopic</dt>
  <dd><a href="{{ pageResource | iri_resolver }}">{{ pageUrl }}</a></dd>
</dl>

{% set playback_date = snapshot_date_parsed | datetime_format("%Y%m%d") %}
{% set pwid_date = snapshot_date_parsed | datetime_format("%Y-%m-%dT%H:%M:%SZ") %}
{% set pwid_base = "https://webarchiv.apps.dnb.de/pwidresolver/resolve?pwid=" %}
{% set urn_base = "urn:pwid:webarchiv.dnb.de" %}
{% set pwid = urn_base + ":" + pwid_date + ":page:" + pageUrl %}

<div class="btn-group" role="group" aria-label="Basic example">
<a href="{{ config.playback_base }}{{ playback_date }}/{{ pageUrl }}" class="btn btn-primary">▶️ Playback</a>
<a href="{{ pwid_base }}{{ pwid }}" class="btn btn-outline-secondary">🫆 PWID</a>
<a href="{{ page.meta.resource_iri }}" class="btn btn-outline-secondary">📑 Catalog</a>
</div>

<div class="input-group mt-3">
  <span class="input-group-text" id="inputGroup-sizing-default">PWID</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{pwid}}">
</div>

{{ page.content }}

{% endblock %}
