{% extends "base.html" %}

{% block htmltitle %}
<title>Collection: {{ resource_iri }}</title>
{% endblock %}

{% block content %}
{% set pageUrl = resource["foaf:primaryTopic"] | first %}
<h1>Collection</h1>

<pre>schema:Series</pre>
<pre>{{ page.meta.resource_iri }}</pre>

<dl>
  <dt>dc:identifier</dt>
  <dd>{{ resource["dc:identifier"] | first }}</dd>
  <dt>dc:title</dt>
  <dd>{{ resource["dc:title"] | first }}</dd>
  <dt>dc:subject</dt>
  {% set subject = resource["dc:subject"] | first %}
  <dd><a href="{{ subject | iri_resolver }}">{{ subject.identifier }}</a></dd>
</dl>

<div class="btn-group" role="group" aria-label="Basic example">
<a href="{{ page.meta.resource_iri }}" class="btn btn-outline-secondary">📑 Catalog</a>
</div>

{{ page.content }}

{% endblock %}
