{% extends "base.html" %}

{% set collection_query = "prefix bibo: <http://purl.org/ontology/bibo/> select ?resource_iri { ?resource_iri a bibo:Series . }" %}
{% set website_query = "prefix bibo: <http://purl.org/ontology/bibo/> select ?resource_iri { ?resource_iri a bibo:Website . }" %}
{% set snapshot_query = "prefix lv: <http://purl.org/lobid/lv#> select ?resource_iri { ?resource_iri a lv:ArchivedWebPage . }" %}
{% set warcfile_query = "prefix dowarc: <https://github.com/DOWARC/dowarc#> select ?resource_iri { ?resource_iri a dowarc:WARCfile . }" %}

{% block htmltitle %}
<title>Das Webarchiv der Zukunft</title>
{% endblock %}

{% block content %}

{{ page.content }}

<h2>Collections</h2>
<ul>
{% for row in resource | query(collection_query) %}
{% set title = row.resource_iri | property("dc:title") %}
<li><a href="{{ row.resource_iri | iri_resolver }}">{{ title }} ({{ row.resource_iri }})</a></li>
{% endfor %}
</ul>

<h2>Websites</h2>
<ul>
{% for row in resource | query(website_query) %}
{% set title = row.resource_iri | property("dc:title") %}
<li><a href="{{ row.resource_iri | iri_resolver }}">{{ title }} ({{ row.resource_iri }})</a></li>
{% endfor %}
</ul>

<h2>Snapshots</h2>
<ul>
{% for row in resource | query(snapshot_query) %}
<li><a href="{{ row.resource_iri | iri_resolver }}">{{ row.resource_iri }}</a></li>
{% endfor %}
</ul>

<h2>WARC Files</h2>
<ul>
{% for row in resource | query(warcfile_query) %}
<li><a href="{{ row.resource_iri | iri_resolver }}">{{ row.resource_iri }}</a></li>
{% endfor %}
</ul>

{% endblock %}
