{% extends "base.html" %}

{% block htmltitle %}
<title>Webpage: {{ resource_iri }}</title>
{% endblock %}

{% block content %}
<h1>Website</h1>

<pre>bibo:Website</pre>
<pre>{{ page.meta.resource_iri }}</pre>

<dl>
  <dt>dc:identifier</dt>
  <dd>{{ resource["dc:identifier"] | first }}</dd>
  <dt>dc:title</dt>
  <dd>{{ resource["dc:title"] | first }}</dd>
  {% set collections = resource["dcterms:isPartOf"] -%}
  {% for collection in collections -%}
    {% if loop.first -%}
    <dt>dcterms:isPartOf (Collection)</dt>
    {% endif -%}
    {% set collection_title = collection["dc:title"] | first or "" -%}
    <dd><a href="{{ collection | iri_resolver }}">{{ collection_title }}</a></dd>
  {%- endfor %}
  <dt>foaf:primaryTopic</dt>
  {% set pageResource = resource["foaf:primaryTopic"] | first -%}
  {% set pageUrl = pageResource.identifier -%}
  <dd><a href="{{ pageResource | iri_resolver }}">{{ pageUrl }}</a></dd>
</dl>

<div class="btn-group" role="group" aria-label="Basic example">
<a href="{{ config.playback_base }}*/{{ pageUrl }}" class="btn btn-primary">🗓️ Playback</a>
<a href="{{ page.meta.resource_iri }}" class="btn btn-outline-secondary">📑 Catalog</a>
</div>

<h2 class="mt-4">Snapshots</h2>
{% set snapshots = resource | properties_inv("dcterms:isPartOf") %}
<ul>
  {% for snapshot in snapshots %}
  <li><a href="{{ snapshot | iri_resolver }}">{{ snapshot | property("dc:date") }}</a></li>
  {% endfor %}
</ul>

{{ page.content }}

{% endblock %}
